/* table , tr , th , td {
    border: solid black;
    border-collapse: collapse;
} */

th , td {
    text-align: center;
}

.error{
    color: rgb(2, 0, 0) ;
    font-size: 15px !important;
    
}

.success {
    color: rgb(1, 3, 3) ;
    font-size: 15px !important;
}

.btn-floating{
    margin: 5px;
}

.ms{
    line-height: 2.5 !important;
}